body {
    margin: 0 5px 0 5px;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
}

input, textarea {
    width: 98%;
    display: flex;
}

.space-between {
    margin-top: 20px;
}
